<div class="footer-wrapper">
	<div class="container">
		<div class="col-md-7">
			<h4>
				<a href="{{site.url}}/about">About SCB MBON</a>
				<a href="{{site.url}}/about/#funders">Funding</a>
				<a href="mailto:sbcbon@msi.ucsb.edu">Contact Us</a>
			</h4>
		</div>
		<div class="col-md-5"></div>
		<div class="col-md-7">
			<h5><a href="https://www.msi.ucsb.edu/" target="new">Marine Science Institute</a><a href="https://www.ucsb.edu/" target="new">University of California, Santa Barbara</a> &copy; 2017</h5>
		</div>
	</div>
</div>